@import '~music-player-common/src/style/reset.css';
@import '~music-player-common/src/style/layout.scss';
@import '~music-player-common/src/style/variable.scss';
@import '~music-player-common/src/style/mixin.scss';
@import '~antd/dist/antd.css';


#portal-root-dom {
  padding: $padding-size-s;
}

.portal-root-title {
  font-size: $font-size-xl;
  line-height: $line-height-xl;
}
